//Generale
:host {
  display: block;
  background-color: #0D172B;
  min-height: 100vh ;
}

//Video
.category-header-video {
  width: 100%;
  height: 500px;
  object-fit: cover;

}

.color-info{
  color: #17a2b8;
}

//Alert
.alert.alert-info {
  background-color: #CFF4FC;
  color: #055160;
  border-radius: 8px;
}

//Card
.card.event-card {
  background-color: #1A2538;
  border: 1px solid #28344E;
  color: #B0C4DE;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  width: 100%;
}


.event-title {
  color: #17a2b8;
  margin-bottom: 15px;
}

.icon-link {
  color: #17a2b8;
  font-size: 24px;
  transition: color 0.3s;
  padding: 5px;
}

.icon-link:hover, .icon-link:focus {
  color: #B0C4DE;
  text-decoration: none;
}

//Modal
.modal-custom{
  background-color: #28344E;
}

.btn-custom{
  background-color: #17a2b8;
  border-radius: 20px;
  margin: 5px;
}

.btn-custom:hover{
  background-color:#B0C4DE
}

.form-custom{
  background-color: #28344E;
}


