<!--Barra con Logo-->
<section class="logo">
 <h2> <span class="brand-start">Even</span> <span class="brand-end">tify</span> </h2>
</section>

<!--Sezione Hero con form-->
<section class="position-relative">
  <!-- <img class="resized-image" src="../../../assets/img/Sfondo/hhh.avif" alt=""> -->
  <video class="resized-video" src="../../../assets/video/Il mio filmato.mp4" autoplay muted loop playsinline></video>
  <div class="position-absolute centered-content w-100 text-center">
  <h1 class="text-white"><span class="color-info">Eleviamo</span> la promozione degli <span class="color-info"> eventi</span> <br> al prossimo livello con la <span class="color-info">potenza della tecnologia</span></h1>
<div *ngIf="!showLoginForm" class="initial-button">
  <button class="btn btn-info btn-lg text-white custom-rounded-btn" (click)="showLoginForm = true">Entra</button>
</div>

<div *ngIf="showLoginForm" class="custom-login-form">
    <div class="custom-login-container">
        <div class="custom-login-header mb-3">
            <h3 class="text-white">Accedi</h3>
        </div>
        <div class="form-group">
            <label for="email" class="text-white">Email:</label>
            <input id="email" [(ngModel)]="email" placeholder="Inserisci la tua email" class="form-control custom-input"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white">Password:</label>
            <input id="password" [(ngModel)]="password" type="password" placeholder="Inserisci la tua password" class="form-control custom-input"/>
        </div>
        <button class="btn custom-btn mt-4" (click)="login()">Accedi</button>
        <div class="error-message mt-2 text-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="signup-prompt mt-2 text-white">
            Non sei ancora registrato? <a href="#" class="text-info" (click)="redirectToSignup($event)">Clicca qui</a>
        </div>
    </div>
</div>
</div>
</section>

<!--Sezione numeri di Eventify-->
<section class="bg-info p-5 text-center" >
<h2 class="text-white">Diventa parte della più grande rete mondiale dedicata all'intrattenimento in tempo reale</h2>
</section>
<section class="numbers p-5 d-flex align-items-center">
  <div class="col-6">
    <h2 class="text-white">
      <span class="acqua"> Più di 200 milioni </span> entusiasti sfruttano Eventify
    </h2>
    <p class="text-white">per trovare eventi imperdibili.</p>
  <h2 class="text-white">
    <span class="acqua"> Più di 50.000 </span>occasioni
  </h2>
  <p class="text-white">pronte a regalarti momenti indimenticabili.</p>
  <h2 class="text-white">
    Presenti nelle <span class="acqua"> principali città</span>
    </h2>
    <p class="text-white">sparse in tutta Italia.</p>
  </div>
  <div class="col-6 pb-5">
    <img class="img-fluid" src="../../../assets/img/Sfondo/Party.avif" alt="">
  </div>
</section>


<!--Sezione Perchè sceglierci-->
<section class="mt-5 p-5">
  <h2 class="text-center">Perché scegliere la nostra piattaforma?</h2>
  <div class="row justify-content-around mt-4">
    <div class="col-md-4 feature-card p-4 mb-3 text-center">
      <i class="icon-large bi bi-speedometer2" style="font-size: 3rem;"></i>
      <h4 class="mt-3">Rapido Set-Up</h4>
      <p>Inizia subito a usufruire dei nostri servizi grazie ad un'interfaccia intuitiva.</p>
    </div>
    <div class="col-md-4 feature-card p-4 mb-3 text-center">
      <i class="icon-large bi bi-graph-up" style="font-size: 3rem;"></i>
      <h4 class="mt-3">Analisi dettagliata</h4>
      <p>Ottieni insights preziosi sulla tua audience e sul rendimento dei tuoi eventi.</p>
    </div>
    <div class="col-md-4 feature-card p-4 mb-3 text-center">
      <i class="icon-large bi bi-people" style="font-size: 3rem;"></i>
      <h4 class="mt-3">Community Ampia</h4>
      <p>Unisciti ad una vasta rete di professionisti e appassionati di eventi.</p>
    </div>
  </div>
</section>


<!--Sezione categorie-->
<section class="categories pb-5 text-center">
  <h2 class="text-white pb-5">
    Dal teatro ai concerti,<span class="color-info"> siamo ovunque.</span>
  </h2>
  <div class="cards d-flex flex-wrap justify-content-center">
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Arte.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Arte</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Cinema.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Cinema</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Cucina.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Cucina</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Teatro.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Cultura</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Famiglia.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Famiglia</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Musica.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Musica</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Online.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Online</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Spettacoli.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Spettacoli</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Sport.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Sport</p>
      </div>
    </div>
    <div class="card col-2 m-2" style="width: 10rem;">
      <img src="../../../assets/img/Categorie/Tecnologiaa.avif" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-center">Tecnologia</p>
      </div>
    </div>
  </div>
  <h2 class="text-white mt-5 pt-5 mb-5">Dai forma ad <span class="color-info">esperienze</span> straordinarie.</h2>
<div class="d-flex text-white justify-content-center">
    <div class="circle text-center bg-info">
        <p>Qualità insuperabile in ogni dettaglio.</p>
    </div>
    <div class="circle text-center bg-info">
        <p>Personalizzazione che fa la differenza.</p>
    </div>
    <div class="circle text-center bg-info">
        <p>Connettività senza confini.</p>
    </div>
</div>
  </section>


  <section class="p-5 mt-5 mb-5">
    <h2 class="text-center mb-5">Come funziona</h2>
    <div class="row">
        <div class="col-md-3 text-center">
            <i class="bi bi-geo-alt" style="font-size: 3rem;"></i>
            <h4 class="mt-3">Scegli il luogo</h4>
            <p>Indica la tua destinazione e inizia la tua ricerca.</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="bi bi-search" style="font-size: 3rem;"></i>
            <h4 class="mt-3">Esplora le opzioni</h4>
            <p>Vedi tutti gli eventi disponibili o filtrali secondo le tue preferenze.</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="bi bi-share" style="font-size: 3rem;"></i>
            <h4 class="mt-3">Condividi</h4>
            <p>Condividi gli eventi con amici e familiari.</p>
        </div>
        <div class="col-md-3 text-center">
            <i class="bi bi-calendar-check" style="font-size: 3rem;"></i>
            <h4 class="mt-3">Prenota</h4>
            <p>Una volta deciso, prenota il tuo posto all'evento.</p>
        </div>
    </div>
</section>

<!--Sezione Footer-->
<footer class="text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
        <h5>Su Eventify</h5>
        <p>La piattaforma leader per la scoperta di eventi in tutta l'Italia.</p>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
        <h5>Contatti</h5>
        <p>Napoli, Via Napoli</p>
        <p>+39 000 00000000</p>
        <p>info@Eventify.in</p>
      </div>
      <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
        <h5>Seguici su</h5>
        <div class="d-flex justify-content-center">
          <a href="" class="mx-2" target="_blank"><i class="bi bi-facebook text-white custom-icon-size"></i></a>
          <a href="" class="mx-2" target="_blank"><i class="bi bi-twitter text-white custom-icon-size"></i></a>
          <a href="" class="mx-2" target="_blank"><i class="bi bi-instagram text-white custom-icon-size"></i></a>
          <a href="" class="mx-2" target="_blank"><i class="bi bi-linkedin text-white custom-icon-size"></i></a>
          <a href="" class="mx-2" target="_blank"><i class="bi bi-github text-white custom-icon-size"></i></a>
        </div>

      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <hr>
        <p>© 2023 Eventify. Tutti i diritti riservati.</p>
      </div>
    </div>
  </div>
</footer>
