<!--Barra con Logo-->
<section class="logo">
  <h2> <span class="brand-start">Even</span> <span class="brand-end">tify</span> </h2>
  <hr>
 </section>

<!--Registrazione-->
<div class="custom-register-container">
  <div class="custom-register-header">
      <h2>Unisciti a noi</h2>
      <p>Registrati</p>
  </div>
  <div class="custom-register-form">
      <div class="custom-form-group">
          <label for="username">Username:</label>
          <input id="username" [(ngModel)]="username" placeholder="Inserisci il tuo username" />
      </div>
      <div class="custom-form-group">
          <label for="email">Email:</label>
          <input id="email" [(ngModel)]="email" placeholder="Inserisci la tua email" />
      </div>
      <div class="custom-form-group">
          <label for="password">Password:</label>
          <input id="password" [(ngModel)]="password" type="password" placeholder="Inserisci la tua password" />
      </div>
      <div class="custom-form-group">
          <label for="profilePicture">Profile Picture:</label>
          <input id="profilePicture" [(ngModel)]="profilePicture" placeholder="Inserisci la tua immagine di profilo" />
      </div>
      <button class="custom-register-button" (click)="register()">Registrati</button>
      <div class="custom-error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="signin-prompt mt-2 text-white">
        Sei già registrato? <a href="#" class="text-info" (click)="redirectToSignin($event)">Clicca qui</a>
    </div>
  </div>
</div>
