<div *ngIf="(showAdmin)">
<h1 class="text-center pt-5">Dashboard <span class="color-info">Admin</span></h1>



 <!-- *******************Tutte le Sezione***************** -->
  <div class="tab-navigation d-flex justify-content-around">
      <button class="tab-button" (click)="changeSection('users')">Utenti</button>
      <button class="tab-button" (click)="changeSection('reviews')">Recensioni</button>
      <button class="tab-button" (click)="changeSection('reservations')">Prenotazioni</button>
      <button class="tab-button" (click)="changeSection('notifications')">Notifiche</button>
      <button class="tab-button" (click)="changeSection('events')">Eventi</button>
  </div>
  <hr class="mt-0">
 <!-- *******************Tutte le Sezione***************** -->








  <!-- *******************Sezione Utenti***************** -->
  <div class="section" *ngIf="currentSection === 'users'">
    <h2 class="mt-5">Gestione Utenti</h2>
      <table>
        <thead>
            <tr>
                <th  class="text-center">ID</th>
                <th  class="text-center">Email</th>
                <th class="text-center">Azione</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button (click)="viewUserDetails(user.id)">Visualizza dettagli</button>
                    <button (click)="deleteUser(user.id)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="selectedUser" class="mt-5 pt-5 pb-5">
      <hr>
      <h2>Dettagli di: {{ selectedUser.email }}</h2>
      <p class="m-0"><span>Username: </span>{{selectedUser.username}}</p>
      <p class="m-0"> <span>Ruolo: </span>{{selectedUser.role}}</p>
      <p> <span>Immagine del profilo: </span>{{selectedUser.profilePicture}}</p>
  </div>
  </div>
   <!-- *******************Sezione Utenti***************** -->








    <!-- *******************Sezione Recensioni***************** -->
  <div class="section" *ngIf="currentSection === 'reviews'">
    <h2 class="mt-5">Gestione Recensioni</h2>
      <select (change)="onEventChange($event)">
        <option *ngFor="let event of events" [value]="event.id">{{ event.title }}</option>
    </select>

    <table>
        <thead>
            <tr>
                <th>ID Recensione</th>
                <th>Testo</th>
                <th>Valutazione</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let review of reviewsForSelectedEvent">
                <td>{{ review.id }}</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.rating }}</td>
                <td>
                    <button *ngIf="review.id" (click)="deleteReview(review.id)">Elimina</button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
   <!-- *******************Sezione Recensioni***************** -->




   <!-- *******************Sezione Eventi***************** -->
<div class="section" *ngIf="currentSection === 'events'">
  <h2 class="mt-5">Gestione Eventi</h2>
  <table>
      <thead>
          <tr>
              <th class="text-center">Titolo</th>
              <th class="text-center">Data</th>
              <th class="text-center">Località</th>
              <th class="text-center">Categoria</th>
              <th class="text-center">Azione</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let event of events">
              <td>{{ event.title }}</td>
              <td>{{ event.date | date: 'short' }}</td>
              <td>{{ event.location }}</td>
              <td>{{ event.category }}</td>
              <td>
                <button (click)="deleteEvent(event.id)">Elimina</button>
                <button (click)="selectEvent(event.id)">Modifica</button>
              </td>
          </tr>
      </tbody>
  </table>

   <!-- Creazione di un nuovo evento -->
   <h2 class="mt-5 pt-5">Crea un nuovo evento</h2>
   <hr>
   <form>
    <label class="m-0">Inserisci Titolo</label>
       <input [(ngModel)]="newEvent.title" placeholder="Titolo dell'evento" name="title">
       <label class="m-0">Scrivi una descrizione:</label>
       <textarea [(ngModel)]="newEvent.description" placeholder="Descrizione dell'evento" name="description"></textarea>
       <label class="m-0">Inserisci una data</label>
       <input [(ngModel)]="newEvent.date" type="date" name="date">
       <label class="m-0">Inserisci orario</label>
       <input [(ngModel)]="newEventTime" type="time" name="time">
       <label class="m-0">Inserisci una data</label>
       <input [(ngModel)]="newEvent.imageURL" placeholder="URL dell'immagine" name="imageURL">
       <label class="m-0">Inserisci posti totali</label>
       <input [(ngModel)]="newEvent.totalSeats" type="number" placeholder="Posti totali" name="totalSeats">
       <label class="m-0">Inserisci posti disponibili</label>
       <input [(ngModel)]="newEvent.seatsAvailable" type="number" placeholder="Posti disponibili" name="seatsAvailable">

     <!-- Dropdown per la location -->
     <label class="m-0">Seleziona luogo:</label>
      <select [(ngModel)]="newEvent.location" name="location">
        <option *ngFor="let location of Location | keyvalue" [value]="location.key">{{location.value}}</option>
      </select>

      <!-- Dropdown per la categoria -->
      <label class="m-0">Seleziona Category:</label>
    <select [(ngModel)]="newEvent.category" name="category">
     <option *ngFor="let category of Category | keyvalue" [value]="category.key">{{category.value}}</option>
      </select>

       <button class="pe-5 ps-5" (click)="createEvent()">Crea</button>
   </form>

   <!-- Modifica dell'evento selezionato -->
   <div class="mt-5 pt-5" *ngIf="selectedEvent">
       <h2>Modifica {{ selectedEvent.title }}</h2>
       <form>
           <input [(ngModel)]="selectedEvent.title" placeholder="Titolo dell'evento" name="titleEdit">
           <textarea [(ngModel)]="selectedEvent.description" placeholder="Descrizione dell'evento" name="descriptionEdit"></textarea>

           <input [(ngModel)]="selectedEvent.date" type="date" name="dateEdit">
           <input [(ngModel)]="newEventTime" type="time" name="timeEdit">
           <input [(ngModel)]="selectedEvent.imageURL" placeholder="URL dell'immagine" name="imageURLEdit">
           <input [(ngModel)]="selectedEvent.totalSeats" type="number" placeholder="Posti totali" name="totalSeatsEdit">
           <input [(ngModel)]="selectedEvent.seatsAvailable" type="number" placeholder="Posti disponibili" name="seatsAvailableEdit">

           <select [(ngModel)]="selectedEvent.location" name="locationEdit">
            <option *ngFor="let location of Location | keyvalue" [value]="location.key">{{location.value}}</option>
         </select>

         <select [(ngModel)]="selectedEvent.category" name="categoryEdit">
            <option *ngFor="let category of Category | keyvalue" [value]="category.key">{{category.value}}</option>
         </select>

           <button (click)="updateEvent()">Aggiorna</button>
       </form>
   </div>
</div>
      <!-- *******************Sezione Eventi***************** -->








      <!-- *******************Sezione Notifiche***************** -->
<div class="section" *ngIf="currentSection === 'notifications'">
  <h2 class="mt-5">Gestione Notifiche</h2>
  <table>
      <thead>
          <tr>
              <th  class="text-center">Messaggio</th>
              <th class="text-center">Data</th>
              <th class="text-center">Azione</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let notification of notifications">
              <td>{{ notification.content }}</td>
              <td>{{ notification.date | date:'dd/MM/yyyy, h:mm a' }}</td>
              <td>
                <button *ngIf="notification.id" (click)="deleteNotification(notification.id)">Elimina</button>
              </td>
          </tr>
      </tbody>
  </table>

  <h3 class="mt-5 pt-5">Crea una nuova notifica</h3>
  <hr>
  <form>
      <textarea [(ngModel)]="newNotification.content" placeholder="Messaggio della notifica" name="message"></textarea>
      <button class="pe-5 ps-5" (click)="createNotification()">Crea</button>
  </form>
</div>
<!-- *******************Sezione Notifiche***************** -->



<div *ngIf="currentSection === 'reservations'">
  <h2 class="mt-5">Gestione Prenotazion</h2>

  <p>Seleziona l'evento per vedere le prenotazioni:</p>
  <select (change)="onEventChangeForReservations($event)">
    <option *ngFor="let event of events" [value]="event.id">{{ event.title }}</option>
  </select>

  <table>
    <thead>
      <tr>
        <th class="text-center">ID Prenotazione</th>
        <th class="text-center">Data Prenotazione</th>
        <th class="text-center">Email Utente</th>
        <th class="text-center">Azione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation.id }}</td>
        <td>{{ reservation.reservationDate }}</td>
        <td>{{ reservation.user.email }}</td>
        <td><button (click)="deleteReservation(reservation.id)">Elimina</button></td>
      </tr>
    </tbody>
  </table>
</div>


</div>
