
.profile{
  background-color: #0D172B;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}


.profile-info h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #17a2b8;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

//Location
select {
  background-color: #0D172B;
  color: #B0C4DE;
  font-size: 1em;
  padding: 10px;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  width: 100%;
}


option {
  background-color: #0D172B;
  color: #B0C4DE;
}

.location-container{
  width: 80%;
  margin: 0 auto;
}

.left {
  font-weight: bold;
  color: #17a2b8;
  text-align: left;
}


// FAQ Section
.faq-section {
  width: 80%;
  background-color: #0D172B;
  border: 1px solid #17a2b8;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}

.faq-section h5 {
  color: #17a2b8;
  font-weight: bold;
}

.faq-section ul {
  list-style: none;
  padding: 0;
}

.faq-section summary {
  font-weight: bold;
  color: #B0C4DE;
  cursor: pointer;
}

