

<!-- Card Evento -->
<div *ngIf="eventDetails" class="container pt-5 pb-5 d-flex flex-column flex-md-row">
  <div class="image-container flex-shrink-0 mr-md-4 pe-md-5 mb-3 mb-md-0">
    <img src="{{ eventDetails.imageURL }}" alt="{{ eventDetails.title }}" class="img-fluid custom-img">
  </div>
  <div class="info-container flex-grow-1 d-flex flex-column">
    <h2 class="color-info">{{ eventDetails.title }}</h2>
    <p class="m-0">Data: {{ eventDetails.date | date: 'dd/MM/yyyy' }}</p>
    <p>Descrizione: {{ eventDetails.description }}</p>
    <p class="m-0">Posizione: {{ eventDetails.location }}</p>
    <p>Categoria: {{ eventDetails.category }}</p>
    <p class="m-0">Numero di posti totali: {{ eventDetails.totalSeats }}</p>
    <p>Posti disponibili: {{ eventDetails.seatsAvailable }}</p>
    <button (click)="reserve()" class="mt-auto btn-custom">PRENOTA ORA</button>
  </div>
</div>

<!--Lascia una "Recensione"-->
<div *ngIf="currentUser" class="review-container">
  <h3>Lascia una recensione</h3>
  <label>Valutazione:</label>
  <div>
    <span *ngFor="let star of [1,2,3,4,5]" (click)="setRating(star)">
      <i [ngClass]="rating >= star ? 'bi-star-fill' : 'bi-star'" class="star-icon"></i>
    </span>
  </div>
  <div class="d-flex mt-4">
    <textarea [(ngModel)]="comment"></textarea>
    <button class="btn-custom-review align-self-end" (click)="submitReview()">Recensisci</button>
  </div>
</div>

<!--Media "Recensioni"-->
<h3 class="m-0">Recensioni:</h3>
<p class="">Media delle recensioni:
  <span *ngFor="let star of [1,2,3,4,5]">
    <i [ngClass]="averageRating >= star ? 'bi-star-fill' : 'bi-star'" class="star-icon"></i>
  </span>
  {{ averageRating.toFixed(1) }}
</p>

<!--Tutte le "Recensioni"-->
<div class="container-fluid p-0 review-custom">
  <div class="d-flex flex-wrap overflow-auto">
    <div *ngFor="let review of reviews" class="col-12 col-md-3 p-2">
      <div class="card review-card">
        <div class="card-body">
            <p>
                Rating:
                <span *ngFor="let star of [1,2,3,4,5]">
                    <i [ngClass]="review.rating >= star ? 'bi-star-fill' : 'bi-star'" class="star-icon"></i>
                </span>
            </p>
            <p class="card-text">Commento: {{ review.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div *ngIf="showModal" class="modal show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title">Prenotazione registrata</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        "La tua prenotazione è stata registrata con successo. Puoi recarti nella sezione 'Prenotazioni' per gestirla come preferisci: confermarla o annullarla. Oppure, se lo desideri, continua la tua navigazione e decidi in seguito."
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnexplore" (click)="closeModal()">Continua a Esplorare</button>
        <button type="button" class="btn btnreservation" (click)="confirmAndRedirect()">Vai alle Prenotazioni</button>
      </div>
    </div>
  </div>
</div>
