//"Navbar"
.custom-navbar {
  background-color: #0D172B;
  border-bottom: 1px solid #28344E;
}

.custom-brand {
  font-weight: bold;
  margin: 0;
}

.brand-start {
  color: #B0C4DE;
}

.brand-end {
  color: #17a2b8;
}

.custom-nav-link {
  color: #B0C4DE;
  transition: color 0.3s;
  cursor: pointer;
}

.custom-nav-link:hover, .custom-nav-link:focus {
  color: #17a2b8;
  text-decoration: none;
}

.custom-nav-link.active {
  color: #17a2b8;
  border-bottom: 2px solid #17a2b8;
}

.custom-bell::after{
  display: none;
}
