<nav  *ngIf="isLoggedInAndLocationSelected">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/categories">Categorie</a></li>
    <li><a routerLink="/reservations">Prenotazioni</a></li>
    <li><a routerLink="/profile">Profilo</a></li>
    <!-- Se l'utente è un admin -->
    <li><a routerLink="/admin">Pannello di Amministrazione</a></li>
    <!-- Pulsante di logout -->
    <li><a (click)="logout()">Logout</a></li>

    <li>
      <a (click)="toggleNotificationMenu()">Notifiche</a>
      <div class="dropdown-content" *ngIf="isNotificationMenuOpen">
        <app-notification></app-notification>
      </div>
    </li>
  </ul>
</nav>
