:host {
  display: block;
  background-color: #0D172B;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 1.2em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.no-events-message {
  margin: 20px 0;
}

.card.event-card {
  background-color: #1A2538;
  border: 1px solid #28344E;
  color: #B0C4DE;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.event-title {
  color: #17a2b8;
  margin-bottom: 15px;
}


.icon-link {
  color: #17a2b8;
  font-size: 21px;
  transition: color 0.3s;
  padding: 5px;
}

.icon-link:hover, .icon-link:focus {
  color: #B0C4DE;
  text-decoration: none;
}


.color-info{
  color: #17a2b8;
}


.modal-custom{
  background-color: #28344E;
}

.btn-custom{
  background-color: #17a2b8;
  border-radius: 20px;
  margin: 5px;
}

.btn-custom:hover{
  background-color:#B0C4DE
}

.form-custom{
  background-color: #28344E;
}

.filter-container {
  background-color: #1A2538;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.filter-container input {
  padding: 5px;
  background-color: #28344E;
  border: none;
  color: #B0C4DE;
}

.filter-container button {
  background-color: #17a2b8;
  border: none;
  padding: 0px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.filter-container button:hover {
  background-color: #B0C4DE;
}

.filter-container input::placeholder {
  color: #B0C4DE;
}

.text-filter{
  font-size: 1em;
  color: #B0C4DE;
  margin-left: 10px;
}


