.card {
  background-color: #1c1c1c;
  color: #e0e0e0;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  cursor:pointer;
}

.card:hover {
  background-color: #282828;
  transform: translateY(-5px);
}

.y {
  color: yellow;
}

.icon-link i {
  font-size: 1.5rem;
  color: #e0e0e0;
  transition: color 0.3s;
}

.icon-link:hover i {
  color: yellow;
}
