<!--"Titolo"-->
<section class="full">
  <div class="container pt-5 ">
    <h1 class="text-white text-center">Le Mie <span class="color-info">Prenotazioni</span></h1>
    <p class="text-white text-center">Qui puoi  <span class="color-info">gestire </span> tutte le tue prenotazioni.</p>

<!--"Condizione"-->
    <div *ngIf="reservations.length === 0" class="alert alert-info text-center mt-4">
      Non ci sono prenotazioni disponibili al momento.
    </div>

<!--"Prenotazioni"-->
    <div *ngIf="reservations.length > 0">
    <ul class="list-group ">
      <li *ngFor="let reservation of reservations" class="list-group-item list-custom text-white">
        <div class="d-flex justify-content-between">
          <div>
            <h2 class="color-info">{{ reservation.event.title }}</h2>
            <p>
              <strong class="color-info">Id:</strong> {{ reservation.event.id }} <br>
              <strong class="color-info">Data di prenotazione:</strong> {{ reservation.reservationDate | date:'short' }}
            </p>
          </div>
          <div>
            <span class="badge {{ reservation.confirmed ? 'bg-success' : 'bg-warning' }}">
              {{ reservation.confirmed ? 'Confermato' : 'Non confermato' }}
            </span>
          </div>
        </div>
        <div class="mt-2">
          <button *ngIf="!reservation.confirmed" class="btn me-2 custom-btn text-white" (click)="confirm(reservation.id)">Conferma</button>
          <!--"Qr" code-->
          <button *ngIf="reservation.confirmed" class="btn me-2 custom-btn text-white" (click)="showQRCode(reservation.id)">Mostra QR code</button>
          <button class="btn custom-btn-delete text-white" (click)="delete(reservation.id)">Elimina</button>
        </div>
      </li>
    </ul>
    </div>
  </div>
</section>



<!-- Modal -->
<div *ngIf="showModal" class="modal show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title">Operazione completata con successo!</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        Continua la tua esperienza con noi.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnexplore" (click)="closeModal()">Continua a Esplorare</button>
      </div>
    </div>
  </div>
</div>


<!-- QR Code Modal -->
<div *ngIf="showQRModal" class="modal show d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content modal-custom">
      <div class="modal-header">
        <h5 class="modal-title">Il tuo QR Code</h5>
        <button type="button" class="btn-close" (click)="closeQRModal()"></button>
      </div>
      <div class="modal-body text-center">
        <img src="../../../assets/img/Eventify.png" alt="QR Code" class="qrimage">
      </div>
    </div>
  </div>
</div>

